<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>C:\Users\Gast\git\msfs_estol_training_tool\eSTOL_Training_Tool\publish\STOL_Training_Tool</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <_TargetId>Folder</_TargetId>
    <TargetFramework>net9.0-windows</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>